<ul class="nav nav-tabs">
    <li><a href="/geo">Sessions</a></li>
    <li><a href="/geo/apps">Apps</a></li>
    <li class="active"><a href="/farms">Farms</a></li>
</ul>
<div class="container-fluid">
    <br/>
    <div class="row">
        <div class="col-sm-12 col-md-12 main">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>UDID</th>
                            <th>Platform</th>
                            <th>Status</th>
                            <th>...</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% devices.forEach(function(device) { %>
                            <tr>
                                <td><%=device.udid%></td>
                                <td><%=device.platform%></td>
                                <td><span class="label label-success">Plugged In</span></td>
                                <td></td>
                            </tr>
                            <% }) %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>